<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Espace Invaders</title>

    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="sobre.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">

</head>
<body>
    <main class="container-flex-column sobre">
        <div class="logo-container">
            <h1 class="logo" class="">SPACE INVADERS</h1>
        </div>

        <p>
            Space Invaders, lançado em 1978 pela Taito Corporation para fliperamas, desempenhou um papel crucial na
            história dos videogames. Sua revolucionária introdução do conceito de high score incentivou os jogadores a
            competir por pontuações cada vez mais altas nas máquinas de arcade, tornando-se um marco na cultura dos
            jogos eletrônicos. Além disso, sua influência na indústria dos videogames foi imensurável, pavimentando o
            caminho para o sucesso de muitos títulos subsequentes. Ainda hoje, Space Invaders é reverenciado como um dos
            jogos mais influentes de todos os tempos. Em uma homenagem à sua importância, reimaginei esse clássico
            usando JavaScript, destacando seu legado duradouro no mundo dos jogos eletrônicos.
        </p>
        <a href="../index.html"> Voltar </a>
    </main>
</body>
</html>