<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/aviao.png">
    <title>Registar / Logar</title>

    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="conta.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>
<body>
    <main id="conta">
        <div class="modal-overlay">
            <div class="modal">
                <h1>Você tem certeza que deseja apagar a sua conta?</h1>
                <p>Ao apagar a conta todos os seus dados seram perdidos e essa ação não poderá ser revertida.</p>
                <p>Preencha os dados no formulário</p>
                <div>
                    <button id="fechar-modal">Fechar</button>
                    <button id="deletar-conta">Deletar conta</button>
                </div>
            </div>
        </div>
        <div class="logo-container">
            <h1 class="logo" class="">SPACE INVADERS</h1>
        </div>

        <form class="form-registrar" action="javascript:void(0)" method="POST">
            <h1>Registrar</h1>

            <label for="nomeRegistrar">Nome</label>
            <input required type="text" name="nome" maxlength="32">

            <label for="senhaRegistrar">Senha</label>
            <input required type="password" name="senha" maxlength="60">

            <label for="confirmarSenha">Confirmar senha</label>
            <input required type="password" name="confirmar-senha" maxlength="60">
            <p class="mensagem-registrar"></p>

            <button id="registrar">Registrar</button>
        </form>

        <form class="form-entrar" action="void:javascript(0)" method="POST">
            <h1>Entrar</h1>
            
            <label for="nome">Nome</label>
            <input required type="text" name="nome" maxlength="32">

            <label for="senha">Senha</label>
            <input type="password" name="senha" maxlength="60">
            <p class="mensagem-entrar"></p>

            <button id="entrar">Entrar</button>
            <button id="abrir-modal">Deletar conta</button>

        </form>

        <a href="../index.html"> Voltar </a>
        
    </main>

    <script type="module" src="conta.js"></script>
</body>
</html>