<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>

    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="tutorial.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="shortcut icon" href="../assets/aviao.png" type="image/x-icon">
</head>
<body>
    <main class="container-flex-column como-jogar">
        <div class="logo-container">
            <h1 class="logo" class="">SPACE INVADERS</h1>
        </div>

        <p>Se movimente usando (setinhas yeah)</p>
        <p>Mate os <img src="../assets/aviao-inimigo.png" style="transform: rotate(180deg)"> para fazer pontos</p>
        <p>Quando matar todos os inimigos começará uma nova onda</p>
        <a href="../index.html"> Voltar </a>
    </main>

</body>
</html>