<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>

    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="ranking.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="icon" type="image/x-icon" href="../assets/aviao.png">

</head>

<body>
    <main class="ranking container-flex-column">
        <div class="logo-container">
            <h1 class="logo">SPACE INVADERS</h1>
        </div>
        <h1>Ranking</h1>
        <p class="mensagem-ranking"></p>

        <div id="jogadores">
            <!-- jogadores carregados via Javascript -->
        </div>
        <a href="../index.html"> Voltar </a>
    </main>

    <script type="module" src="ranking.js"></script>
</body>

</html>