<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/aviao.png">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="jogo.css">
    <link rel="stylesheet" href="conta.css">
    <link rel="stylesheet" href="ranking.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <title>Space Invaders</title>
</head>

<body>

    <section class="cookies container-flex-column">
        <div>
            <h1>Cookies</h1>
            <p>Este site utiliza Cookies temporários para salvar dados de autorização e manter a sua conexão segura. Nenhum dado inserido será compartilhada com terceiros.</p>
            <div class="container-flex-row">
                <button id="recusar-cookies">Recusar Cookies</button>
                <button id="aceitar-cookies">Aceitar Cookies</button>
            </div>
        </div>
    </section>
    
    <main class="container-flex-column">
        <div class="logo-container">
            <h1 class="logo" class="">SPACE INVADERS</h1>
        </div>
        <menu class="">
            <li id="btn-comecar">Jogar</li>
            <li id="btn-como-jogar">Como jogar?</li>
            <li id="btn-sobre">O que é Space Invaders?</li>
            <li id="btn-tela-login">Registrar / Logar</li>
            <li id="btn-tela-ranking">Ranking</li>
        </menu>    
    </main>
    
    <section class="container-flex-column sobre">
        <div class="logo-container">
            <h1 class="logo" class="">SPACE INVADERS</h1>
        </div>

        <p>
            Space Invaders, lançado em 1978 pela Taito Corporation para fliperamas, desempenhou um papel crucial na
            história dos videogames. Sua revolucionária introdução do conceito de high score incentivou os jogadores a
            competir por pontuações cada vez mais altas nas máquinas de arcade, tornando-se um marco na cultura dos
            jogos eletrônicos. Além disso, sua influência na indústria dos videogames foi imensurável, pavimentando o
            caminho para o sucesso de muitos títulos subsequentes. Ainda hoje, Space Invaders é reverenciado como um dos
            jogos mais influentes de todos os tempos. Em uma homenagem à sua importância, reimaginei esse clássico
            usando JavaScript, destacando seu legado duradouro no mundo dos jogos eletrônicos.
        </p>
        <button class="btn-voltar"> Voltar para o menu </button>
    </section>
    
    <section class="container-flex-column como-jogar">
        <div class="logo-container">
            <h1 class="logo" class="">SPACE INVADERS</h1>
        </div>

        <p>Se movimente usando (setinhas yeah)</p>
        <p>Mate os <img src="../assets/aviao-inimigo.png" style="transform: rotate(180deg)"> para fazer pontos</p>
        <p>Quando matar todos os inimigos começará uma nova onda</p>
        <button class="btn-voltar"> Voltar para o menu </button>
    </section>
    
    <section id="jogo">
        <canvas id="canvas"></canvas>
        <button id="reiniciar-jogo">Reiniciar jogo</button>
        <button id="registrar-entrar">Registrar / Entrar</button>
        <button class="btn-voltar"> Voltar para o menu </button>
    </section>

    <section class="modal" id="conta">
        <div class="logo-container">
            <h1 class="logo" class="">SPACE INVADERS</h1>
        </div>

        <form class="form-registrar" action="javascript:void(0)" method="POST">
            <h1>Registrar</h1>

            <label for="nomeRegistrar">Nome</label>
            <input required type="text" name="nome" maxlength="32">

            <label for="senhaRegistrar">Senha</label>
            <input required type="password" name="senha" maxlength="60">

            <label for="confirmarSenha">Confirmar senha</label>
            <input required type="password" name="confirmar-senha" maxlength="60">
            <p class="mensagem-registrar">Deu certo</p>

            <button id="registrar">Registrar</button>
        </form>

        <form class="form-entrar" action="void:javascript(0)" method="POST">
            <h1>Entrar</h1>
            
            <label for="nome">Nome</label>
            <input required type="text" name="nome" maxlength="32">

            <label for="senha">Senha</label>
            <input type="password" name="senha" maxlength="60">
            <p class="mensagem-entrar">Deu certo</p>

            <button id="entrar">Entrar</button>

        </form>

        <button id="fechar-login">Fechar</button>
        
    </section>

    <section class="ranking container-flex-column">
        <div class="logo-container">
            <h1 class="logo">SPACE INVADERS</h1>
        </div>
        <h1>Ranking</h1>
        <p class="mensagem-ranking"></p>

            <div id="jogadores">
                <!-- jogadores carregados via Javascript -->
            </div>
        <button class="btn-voltar"> Voltar para o menu </button>
    </section>

    <section id="assets">
        <img src="../assets/aviao.png" id="nave">
        <img src="../assets/aviao-inimigo.png" id="nave-inimigo">
        <img src="../assets/aviao-inimigo-aleatorio.png" alt="" id="nave-inimigo-aleatorio">
        <img src="../assets/aviao-inimigo-forte.png" alt="" id="nave-inimigo-forte">

        <img src="../assets/laser-inimigo.png" id="laser-inimigo">
        <img src="../assets/laser-player.png" id="laser-player">
    </section>


    <script type="module" src="../controller/main.js"></script>
</body>

</html>