<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/aviao.png">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="jogo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <title>Space Invaders</title>
</head>

<body>
    <main class="container-flex-column">
        <div class="logo-container">
            <h1 class="logo" class="">SPACE INVADERS</h1>
        </div>
        <menu class="">
            <li id="btn-comecar">Jogar</li>
            <li> <a href="tutorial/tutorial.html">Como jogar?</a></li>
            <li> <a href="sobre/sobre.html">O que é Space Invaders</a></li>
            <li> <a href="conta/conta.html">Registrar / Logar</a></li>
            <li> <a href="ranking/ranking.html">Ranking</a></li>
        </menu>
    </main>

    <section id="jogo">
        <canvas id="canvas"></canvas>
        <button id="reiniciar-jogo">Reiniciar jogo</button>
        <a href="conta/conta.html">Registrar / Entrar</a>
        <a href="index.html"> Voltar para o menu </a>
    </section>

    <section id="assets">
        <img src="assets/aviao.png" id="nave">
        <img src="assets/aviao-inimigo.png" id="nave-inimigo">
        <img src="assets/aviao-inimigo-aleatorio.png" alt="" id="nave-inimigo-aleatorio">
        <img src="assets/aviao-inimigo-forte.png" alt="" id="nave-inimigo-forte">

        <img src="assets/laser-inimigo.png" id="laser-inimigo">
        <img src="assets/laser-player.png" id="laser-player">
    </section>


    <script type="module" src="../controller/main.js"></script>
</body>

</html>