<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/aviao.png">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <title>Space Invaders</title>
</head>

<body>
    
    <main class="container">
        <div id="logo-container">
            <h1 id="logo" class="">SPACE INVADERS</h1>
        </div>
        <menu class="">
            <li id="btn-comecar">Jogar</li>
            <li id="btn-como-jogar">Como jogar?</li>
            <li id="btn-sobre">O que é Space Invaders?</li>
        </menu>

        <section class="container sobre">
            Space Invaders, lançado em 1978 pela Taito Corporation para fliperamas, desempenhou um papel crucial na
            história dos videogames. Sua revolucionária introdução do conceito de high score incentivou os jogadores a
            competir por pontuações cada vez mais altas nas máquinas de arcade, tornando-se um marco na cultura dos
            jogos eletrônicos. Além disso, sua influência na indústria dos videogames foi imensurável, pavimentando o
            caminho para o sucesso de muitos títulos subsequentes. Ainda hoje, Space Invaders é reverenciado como um dos
            jogos mais influentes de todos os tempos. Em uma homenagem à sua importância, reimaginei esse clássico
            usando JavaScript, destacando seu legado duradouro no mundo dos jogos eletrônicos.
        </section>

        <section class="container como-jogar">
            <p>Se movimente usando (setinhas yeah)</p>
            <p>Mate os <img src="../assets/aviao-inimigo.png" style="transform: rotate(180deg)"> para fazer pontos</p>
            <p>Quando matar todos os inimigos começará uma nova onda</p>
        </section>

        <button id="btn-voltar"> Voltar para o menu </button>

    </main>
    
    <section id="jogo">
        <canvas id="canvas"></canvas>

        <section class="modal" id="conta">
            <form action="javascript:void(0)" method="POST">
                <h1>Registrar</h1>
    
                <label for="nomeRegistrar">Nome</label>
                <input required type="text" name="nomeRegistrar" id="nomeRegistrar" maxlength="32">
    
                <label for="emailRegistrar">Email (não obrigatório)</label>
                <input type="email" name="emailRegistrar" id="emailRegistrar" maxlength="64">
    
                <label for="senhaRegistrar">Senha</label>
                <input required type="password" name="senhaRegistrar" id="senhaRegistrar" maxlength="60">
    
                <label for="senhaConfirmarRegistrar">Senha</label>
                <input required type="password" id="senhaConfirmarRegistrar" maxlength="60">
    
                <button id="registrar">Registrar</button>
            </form>
    
            <form action="void:javascript(0)" method="POST">
                <h1>Entrar</h1>
                
                <label for="nomeEntrar">Nome</label>
                <input required type="text" name="nomeEntrar" id="nomeEntrar" maxlength="32">
    
                <label for="emailEntrar">Email (não obrigatório)</label>
                <input required type="email" name="emailEntrar" id="emailEntrar" maxlength="60">
    
                <label for="senhaEntrar">Senha</label>
                <input type="password" name="senhaEntrar" id="senhaEntrar" maxlength="60">
    
                <button id="registrar">Entrar</button>
    
            </form>

            <button id="reiniciar-jogo">reiniciar-jogo</button>
            
        </section>
    </section>

    <canvas id="estrelas"></canvas>

    <section id="assets">
        <img src="../assets/aviao.png" id="nave">
        <img src="../assets/aviao-inimigo.png" id="nave-inimigo">
        <img src="../assets/aviao-inimigo-aleatorio.png" alt="" id="nave-inimigo-aleatorio">
        <img src="../assets/aviao-inimigo-forte.png" alt="" id="nave-inimigo-forte">

        <img src="../assets/laser-inimigo.png" id="laser-inimigo">
        <img src="../assets/laser-player.png" id="laser-player">
    </section>


    <script type="module" src="../controller/main.js"></script>
    <script src="../controller/estrelas-animacao.js"></script>
</body>

</html>